{% extends 'base.html' %}
{% block title %}
  {{post.title}}
{% endblock %}
{% block content %}
</style>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <!-- ====== Blog Details Section Start -->
    <section class="pt-20 lg:pt-[120px] pb-10 lg:pb-20">
        <div class="container">
          <div class="flex flex-wrap justify-center -mx-4">
            <div class="w-full px-4">
              <div
                class="
                  relative
                  rounded
                  overflow-hidden
                  z-20
                  mb-[60px]
                  h-[300px]
                  md:h-[400px]
                  lg:h-[500px]
                  wow
                  fadeInUp
                "
                data-wow-delay=".1s
                "
              >  
         
                {% if post.video %}
                  <video width="1000" height="290" controls>
                  
                    '<video width="1000" height="290" controls>'
                    '<source src="{}" type="video/mp4">'
                            
                  '</video>' 

                {% endif %}
              
                <div
                  class="
                    absolute
                    w-full
                    h-full
                    top-0
                    left-0
                    flex
                    items-end
                    z-10
                    bg-gradient-to-t
                    from-dark-700
                    to-transparent
                  "
                >
               
                 
                </div>
              </div>
              <div class="flex flex-wrap -mx-4">
                <div class="w-full lg:w-8/12 px-4">
                  <div>
                    <h2
                    class="
                      font-bold
                      text-brown   <!-- Tailwind's standard brown color -->
                      text-[26px]
                      sm:text-3xl
                      md:text-4xl
                      leading-snug
                      sm:leading-snug
                      md:leading-snug
                      mb-6
                      wow
                      fadeInUp
                    "
                    data-wow-delay=".1s"
                  >
                    {{ post.title }}
                  </h2>
                    <p
                      class="
                        text-base text-body-color
                        leading-relaxed
                        mb-8
                        wow
                        fadeInUp
                      "
                      data-wow-delay=".1s"
                    >
                      {{ post.body |safe }}
                    </p>
                </div>
              </div>
            </div>
          </div>
          <h1 style="text-align: start; width: 100%; margin: 20px 0; font-size: 25px;">Izohlar </h1>
          <div style="width: 100%;">
            {% if request.user.is_authenticated %}
            <div class="contaner" style="width: 100%;">
              <form method="POST" style="display: flex; gap: 10px;">
                {% csrf_token %}
                  <input style="border: 1px solid black; padding: 10px; width: 100%; border-radius: 5px;" name="commentpost" placeholder="Izohni kiriting..." ></input>
                  <input type="submit" value="yuborish" style="padding: 10px; border-radius: 5px; cursor: pointer; color: white; background-color:rgb(9, 114, 9)">
              </form>
            </div>
            {% else %}
              <h3>Izoh qoldirish uchun royhatdan oting</h3>
            {% endif %}

            <div style="width: 100%; margin-top: 30px; display: flex; flex-direction: column-reverse;">  
              {% for comment in comments2 %}
              <div style="display: flex; border-radius: 5px; padding: 15px; flex-direction: column; margin-bottom: 10px; background-color: rgb(9, 114, 9); color: white;">
                <!-- <div><i class="bi bi-person-circle"></i> {{ comment.author }}</div> -->
                <div style="margin-top: 5px; color: rgb(194, 194, 194);">{{ comment.comment }}</div>
              </div>
              {% endfor %}
            </div>  
            
          </div>
        </div>
      </section>
      <!-- ====== Blog Details Section End -->
{% endblock %}  


